<div class="row content-main">
    <div class="col-md-3 mb-5" *ngFor="let tv of series">
        <a href="#" class="hreflink">
            <div class="card">
                <img src="{{image_path + tv.poster_path}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{tv.title}}</h5>
                    <p class="card-text">{{tv.overview +"..." | slice:0:231}}</p>
                    <div class="vote">{{tv.vote_average}}</div>
                </div>
            </div>
        </a>
    </div>
</div>